rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email.lower() == 'amranizaz97@gmail.com' ||
        request.auth.token.email.lower() == 'khoromstore.info@gmail.com' ||
        request.auth.token.email.lower() == 'mahinurislam580@gmail.com' ||
        request.auth.token.email.lower() == 'hajiganjbashi@gmail.com'
      );
    }
    
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /offers/{offerId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /coupons/{couponId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /coins/{coinId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /orders/{orderId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if isAdmin();
    }
    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
      allow read, write: if isAdmin();
    }
    match /chats/{chatId} {
      allow read, write: if true;
    }
    match /facebook_posts/{postId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
